{% extends 'base.html.twig' %}

{% block body %}

    {# Show success messages #}
    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {# Show error messages #}
    {% for flashMessage in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1> <i class="fa fa-user-plus" aria-hidden="true"></i> Register a new account</h1>

                {{ form_start(registrationForm) }}
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(registrationForm.email) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(registrationForm.email)|striptags|trim }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(registrationForm.plainPassword) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(registrationForm.plainPassword)|striptags|trim }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <br>
                <button class="btn btn-lg btn-primary" type="submit">Register</button>
                <a class="btn btn-lg btn-secondary" href="{{ path('app_login') }}">Back to log in</a>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
